:root {
  --verde: #2F4736;
  --bordo: #51202C;
  --blanco: #EEE5D3;
  --marron: #3E2F29;
}

header {
  background-color: var(--verde);
  color: var(--blanco);

}


main {
  background-color: var(--marron);
  color: var(--blaco);
}

footer {
  background-color: var(--bordo);
  color: var(--blanco);
}
